.thanks-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.thanks-base {
    position: relative;
    z-index: 1;
}

.thanks-text {
    margin-bottom: 30px;
    color: #82756A;
    font-family: "Inika", serif;
    font-size: 30px;
    font-weight: bold;
}

.home-button {
    padding: 10px 40px;
    font-size: 20px;
    font-family: "Inika", serif;
    background: #82756A;
    display: inline-block;
    cursor: pointer;
}

.home-button a {
    color: #FFFFFF;
    text-decoration: none;
}

.thanks-background {
    position: absolute;
    font-family: "Inika", serif;
    font-size: 280px;
    color: rgba(139, 121, 105, 0.05);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 0;
}
